In [1]:
import pandas as pd

In [3]:
df = pd.read_parquet("~/Data/BOQ_data.parquet")

df

,A2ME,BEME,BEME_adj,BEME_ind,CEI,DATE,DEC_ME,DEC_SHROUT,Div,Div_ann,...,s2invt,s2rect,sale,sale_ind,sales_g,sga2s,spread_mean,std_turn,std_vol,suv
0,NaN,NaN,NaN,0.824752,NaN,1986-01-31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,0.825905,NaN,1986-02-28,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.076998,0.212080,7.804561e+03,NaN
2,NaN,NaN,NaN,0.825905,NaN,1986-03-31,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.055511,0.107977,3.973568e+03,-0.363314
3,NaN,NaN,NaN,0.825015,NaN,1986-04-30,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.037231,0.174533,6.422826e+03,-0.571056
4,NaN,NaN,NaN,0.824672,NaN,1986-05-31,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.048336,0.150228,5.527503e+03,-0.708679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3568650,0.211263,0.114912,-0.746238,0.861151,-12.189408,2023-08-31,3.897415e+08,3164000.0,0.0,0.0,...,6.344887,26.084534,81462.0,579615.973,0.513517,0.086187,0.000152,0.708916,2.250092e+07,-1.580970
3568651,0.211263,0.114912,-0.750723,0.865635,-11.613183,2023-09-30,3.897415e+08,3164000.0,0.0,0.0,...,6.344887,26.084534,81462.0,579615.973,0.513517,0.086187,0.000133,0.465122,1.476294e+07,-0.371920
3568652,0.211263,0.114912,-0.731231,0.846143,-12.752123,2023-10-31,3.897415e+08,3164000.0,0.0,0.0,...,6.344887,26.084534,81462.0,579615.973,0.513517,0.086187,0.000177,0.531342,1.686876e+07,0.809301
3568653,0.211263,0.114912,-0.731231,0.846143,-7.943286,2023-11-30,3.897415e+08,3164000.0,0.0,0.0,...,6.344887,26.084534,81462.0,579615.973,0.513517,0.086187,0.000245,0.614813,1.954419e+07,0.278301
3568654,0.211263,0.114912,-0.731231,0.846143,-9.359996,2023-12-31,3.897415e+08,3164000.0,0.0,0.0,...,6.344887,26.084534,81462.0,579615.973,0.513517,0.086187,0.000186,0.599491,1.905735e+07,0.967711

In [15]:
labels = sorted(df.columns.to_list())

labels

['A2ME',
 'BEME',
 'BEME_adj',
 'BEME_ind',
 'CEI',
 'DATE',
 'DEC_ME',
 'DEC_SHROUT',
 'Div',
 'Div_ann',
 'E2P',
 'EPS',
 'IOR',
 'LME',
 'LME_ind',
 'LTurnover',
 'ME',
 'NumOwners',
 'PERMNO',
 'PRC',
 'Q',
 'RET',
 'ROC',
 'S2P',
 'SICCD',
 'Turnover',
 'VOL',
 'at',
 'at_adj',
 'at_ind',
 'ato',
 'be',
 'beta',
 'beta_daily',
 'beta_sq',
 'c',
 'cash_lt',
 'cto',
 'cum_return_12_2',
 'cum_return_12_7',
 'cum_return_1_0',
 'cum_return_36_13',
 'cum_return_60_1',
 'cum_return_6_2',
 'd2a',
 'd_ceq',
 'dpi2a',
 'fc2y',
 'free_cf',
 'idio_vol',
 'investment',
 'lev',
 'noa',
 'oa',
 'ol',
 'p1_hml_beta',
 'p1_intercept',
 'p1_mktrf_beta',
 'p1_n',
 'p1_smb_beta',
 'p3_intercept',
 'p3_lmktrf_beta',
 'p3_mktrf_beta',
 'p3_n',
 'pcm',
 'pm',
 'pm_adj',
 'prof',
 'rel_to_high_price',
 'ret_max',
 'rna',
 'roa',
 'roe',
 'roic',
 's2c',
 's2invt',
 's2rect',
 'sale',
 'sale_ind',
 'sales_g',
 'sga2s',
 'spread_mean',
 'std_turn',
 'std_vol',
 'suv']

In [20]:
clean = df[['DATE', 'PERMNO', 'PRC', 'RET', 'ME']]

clean = clean.rename(columns={'DATE':'date', 'PERMNO': 'permno', 'PRC':'price', 'RET': 'return', 'ME': 'market_cap'})

clean

              date   permno       price    return    market_cap
0       1986-01-31  10000.0    4.375000       NaN  1.610000e+04
1       1986-02-28  10000.0    3.250000 -0.257143  1.196000e+04
2       1986-03-31  10000.0    4.437500  0.365385  1.633000e+04
3       1986-04-30  10000.0    4.000000 -0.098592  1.517200e+04
4       1986-05-31  10000.0    3.109375 -0.222656  1.179386e+04
...            ...      ...         ...       ...           ...
3568650 2023-08-31  93436.0  258.079987 -0.034962  8.191443e+08
3568651 2023-09-30  93436.0  250.220001 -0.030456  7.954494e+08
3568652 2023-10-31  93436.0  200.839996 -0.197346  6.384545e+08
3568653 2023-11-30  93436.0  240.080002  0.195379  7.631954e+08
3568654 2023-12-31  93436.0  248.479996  0.034988  7.898983e+08

[3534205 rows x 5 columns]